.pagination {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  padding-bottom: 28px;
}

.pagination-list {
  display: flex;
  list-style: none;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: inline-block;
}

.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 42px;
    background-color: var(--button-primary-bg);
    border: 0;
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color:var(--button-primary-hover);
  color: white;
}

.pagination-button.active {
  background-color:var(--button-primary-active);
  color: white;
}